In [1]:
import pandas as pd
import numpy as np

data = pd.read_excel('url_testing.xlsx',header=None)

In [2]:
data.head()

                                          0
0     https://lakeshore.nextdoorphotos.com/
1    https://grandrapids.nextdoorphotos.com
2  https://oaklandcounty.nextdoorphotos.com
3     https://naperville.nextdoorphotos.com
4       https://michiana.nextdoorphotos.com

In [62]:
data['Status'] = np.nan

In [63]:
for i in range(0,64):
#     print(data[0][i])
    data['Status'][i] = i

<ipython-input-63-ee81a61a96a5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Status'][i] = i

In [50]:
# data['Status']

In [64]:
import re
def formaturl(url):
    if not re.match('(?:http|ftp|https)://', url):
        return 'http://{}'.format(url)
    return url

for i in range(65):
    data[0][i] = formaturl(data[0][i])

<ipython-input-64-b433340e40df>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[0][i] = formaturl(data[0][i])

In [ ]:
import socket
socket.getaddrinfo('localhost', 8080)

from selenium import webdriver
chrome_driver_path = "C:\\drivers\\chromedriver.exe"
driver=webdriver.Chrome(chrome_driver_path)
import requests
for i in range(65):
    try:
        r = requests.head(data[0][i])
        if r.status_code!=404:
            driver.get(data[0][i])
            data['Status'][i] = "Working"
        else:
            data['Status'][i] = "Not Working"
#             print(str(link) + " isn't available.")
            
    except requests.exceptions.MissingSchema:
        data['Status'][i] = "Encountered MissingSchema Exception"
#         print("Encountered MissingSchema Exception")
        
    except requests.exceptions.InvalidSchema:
        data['Status'][i] = "Encountered InvalidSchema Exception"
#         print("Encountered InvalidSchema Exception")
        
    except:
        data['Status'][i] = "Encountered Some other execption"
#         print("Encountered Some other execption")

In [56]:
# data

In [53]:
data.columns = ['urls', 'Status']

In [54]:
data

                                        urls       Status
0      https://lakeshore.nextdoorphotos.com/      Working
1     https://grandrapids.nextdoorphotos.com      Working
2   https://oaklandcounty.nextdoorphotos.com      Working
3      https://naperville.nextdoorphotos.com      Working
4        https://michiana.nextdoorphotos.com      Working
..                                       ...          ...
60          http://denver.nextdoorphotos.com      Working
61      http://charleston.nextdoorphotos.com      Working
62       http://fortworth.nextdoorphotos.com      Working
63      http://twincities.nextdoorphotos.com      Working
64       http://northwest.nextdoorphotos.com  Not Working

[65 rows x 2 columns]

In [55]:
data.to_excel("./checkBroken.xlsx",index=False)